{% extends "core/base.html" %}

{% block content %}
    <div class="container">
        <h2>Add video to {{ hall.title }}</h2>
        <form method="post">
            {% csrf_token %}
            {% load widget_tweaks %}
            {% for field in form %}
                <div class="form-group {% if field.errors%} alert-danger{%endif%}">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {% render_field field class="form_control"%}
                </div>
            {% endfor %}

            <input class="btn btn-primary" type="submit" value="Add">
        </form>
        <hr>
        <form>
            {% for field in search_form %}
                {{ search_form }}
            {% endfor %}
        </form>
        <hr>
        <div id="search_results">
            <script>
                var delayTimer;
                $('#id_search_term').keyup(function () {
                    clearTimeout(delayTimer);
                    $('#search_results').text('Loading...');
                    delayTimer = setTimeout(function () {
                        var text = $('#id_search_term').val();
                        $.ajax({
                            url: '/video/search',
                            data: {
                                'search_term': text
                            },
                            dataType: 'json',
                            success: function (data) {
                                $('#search_results').text(data['jello']);
                            }
                        });

                    },1000);

                });
            </script>
        </div>
    </div>

{% endblock %}